* {
    box-sizing: border-box;
    /*Remove?*/
}

html, body {
    background-color: #d6d8db;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    
}

body.modal-active {
    position: fixed;
}

.gallery {
    /* todo - possibly move away from flex, issues with trailing row misaligned */
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;*/
    margin: 0 auto;
}

.img-container {
    /*flex: 0 0 20%;*/
    width: 100%;
    display: inline-block;
    

    text-align: center;
}

.img-link {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border: 1px solid rgb(215, 215, 215);
    border-bottom-color: rgb(175, 175, 175);
    border-right-color: rgb(175, 175, 175);
    border-radius: 2px;
    background-color: rgb(235, 235, 235);
    margin: 15px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.4);
    transition: 0.075s linear all;
    background-image: url('data:image/svg+xml;utf8,<svg width="82px" height="82px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-default"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(0 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(30 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.08333333333333333s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(60 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.16666666666666666s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(90 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.25s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(120 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.3333333333333333s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(150 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.4166666666666667s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(180 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.5s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(210 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.5833333333333334s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(240 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.6666666666666666s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(270 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.75s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(300 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.8333333333333334s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(330 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.9166666666666666s" repeatCount="indefinite"/></rect></svg>');
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}

.img-element {
    border-radius: 2px;
    opacity: 0;
    transition: 0.25s ease opacity;
}

.img-link:hover {
    background-color: rgb(250, 250, 250);
    box-shadow: 2px 2px 20px 3px rgba(0, 0, 0, 0.4);
}

.img-link:hover .img-element {
    opacity: 1;
}



@media screen and (min-width: 405px) {
    .img-container {
        width: 50%;
    }
}

@media screen and (min-width: 605px) {
    .img-container {
        width: 33%;
    }
}

@media screen and (min-width: 805px) {
    .img-container {
        width: 25%;
    }
}

@media screen and (min-width: 1005px) {
    .img-container {
        width: 20%;
    }
}

@media screen and (min-width: 1205px) {
    .img-container {
        width: 16%;
    }
}

@media screen and (min-width: 1405px) {
    .img-container {
        width: 14%;
    }
}

@media screen and (min-width: 1605px) {
    .img-container {
        width: 12%;
    }
}

.modal-backdrop {
	display: none;
	position: fixed;
    top: 0;
	left: 0;
    width: 100%;
	height: 100%;
	z-index: 10;
    transition: 2.25s ease all;

	background: rgba(0,0,0,0.9);

    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.modal-img-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    background-color: rgb(20, 20, 20);
    
    box-shadow: 1px 1px 30px 4px rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.25s ease-in-out; /* todo figure out why this doesn't work */ 
    z-index: 15;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82px;
    height: 82px;
    opacity: 0.3;
    background-image: url('data:image/svg+xml;utf8,<svg width="82px" height="82px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-default"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(0 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(30 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.08333333333333333s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(60 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.16666666666666666s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(90 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.25s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(120 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.3333333333333333s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(150 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.4166666666666667s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(180 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.5s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(210 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.5833333333333334s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(240 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.6666666666666666s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(270 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.75s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(300 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.8333333333333334s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="%23cec9c9" transform="rotate(330 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.9166666666666666s" repeatCount="indefinite"/></rect></svg>');
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-left {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 69%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-right {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10%;
    background: -moz-linear-gradient(right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 69%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-icon {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.2;
    transition: 0.1s ease opacity;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 71px;
    width: 45px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-10 -10 60 81"><path fill="%23fff" d="M35.355 0L11.428 23.927 0 35.355l11.428 11.43L35.355 70.71l11.43-11.428-23.928-23.927 23.927-23.927L35.354 0z"/></svg>');
    
}

.arrow-right {
    transform: translate(-50%, -50%) rotate(180deg);
}

.btn-left:hover .arrow-left, .btn-right:hover .arrow-right, .btn-close:hover {
    opacity: 1;
}

.btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 45px;
    width: 45px;
    padding: 10px;
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-10 -10 55 55"><path fill="%23fff" d="M0 10.99L11.508 22.5 0 34.006 10.993 45 22.5 33.492 34.008 45 45 34.006 33.49 22.5 45 10.994 34.007 0 22.5 11.508 10.99 0 0 10.99z"/></svg>');
    z-index: 30;
}

.flex-container-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-fixed {
    flex: 0 1 auto;
}

.toast {
    
    color: white;
    padding: 5px 15px;
    height: 30px;
    border-radius: 15px;

    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
    transition: 0.3s;
    opacity: 0;
}

.toast-info {
    background-color: rgb(40, 40, 40);
}

.toast-error {
    background-color: rgb(140, 40, 40);
}