.toast {
    color: white;
    padding: 5px 15px;
    line-height: 30px;
    border-radius: 15px;

    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
    transition: 0.3s;
    opacity: 0;
}

.toast-info {
    background-color: rgb(40, 40, 40);
}

.toast-error {
    background-color: rgb(140, 40, 40);
}